// Wide Screens
@include MediaXl {
  //portfolio page
  .project-div {
    grid-template-columns: repeat(4, 1fr);
    width: 95%;
    margin: 0 auto;

    .project {
      padding: 10px;
      margin-bottom: 4px;
      border-bottom: none;
    }
  }
}

// Desktops and Laptops
@include MediaLg {
  //portfolio page
  .project-div {
    grid-template-columns: repeat(4, 1fr);
    width: 95%;
    margin: 0 auto;

    .project {
      padding: 10px;
      margin-bottom: 4px;
      border-bottom: none;
    }
  }
}

// Tablets and Small Laptops
@include MediaMd {
  //main section
  h1,
  h3 {
    font-weight: 350;
    margin: 0;

    &.lg-heading {
      font-size: 2.5rem;
    }

    &.sm-heading {
      font-size: 1.1rem;

      padding: 2.2rem, 1.8rem;
      margin-bottom: 6px;
    }
  }
  main {
    text-align: center;
  }
  .sm-heading {
    margin-bottom: 17px;
  }
  h1,
  .menu-branding,
  .menu-nav {
    flex-direction: column;
    float: none;
    width: 100%;
    overflow: hidden;
  }
  .menu-branding {
    height: 40vh;
    transform: translate3d(100%, 0, 0);
    .portrait {
      width: 100px;
      height: 100px;
    }
  }
  .nav-item {
    font-weight: 300;
    a {
      font-size: 1.2rem;
    }
  }
  .menu-nav {
    height: 60vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;

    text-align: right;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  // About page

  .about-div {
    grid-template-areas: "bio-image" "bio" "work01" "work02" "work03";
    grid-template-columns: 1fr;
  }

  //portfolio page
  .project-div {
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
    margin: 0 auto;

    .project {
      padding: 10px;
      margin-bottom: 4px;
      border-bottom: 2px solid $tertiaryColor;
    }
  }

  // Navbar styles

  .menu {
    &.show {
      visibility: visible;
    }

    &-branding,
    &-nav {
    }
    &-nav {
      &.show {
        transform: translate3d(0, 0, 0);
      }
    }

    &-branding {
      &.show {
        transform: translate3d(0, 0, 0);
      }

      .portrait {
        width: 150px;
        height: 150px;
        background: url(../images/profile-small.jpg);
        border: 3px solid $tertiaryColor;
        border-radius: 50%;
        background-size: cover;
      }
    }

    .nav-item {
      font-size: 1.5rem;
      font-weight: 300;
      padding: 1rem 1rem;
      text-transform: uppercase;
    }
  }
  h1,
  h3 {
    font-weight: 350;
    margin: 0;

    &.lg-heading {
      font-size: 2.4rem;
    }

    &.sm-heading {
      font-size: 1.1rem;

      padding: 2.2rem, 1.8rem;
      margin-bottom: 6px;
    }
  }
}

// Smart Phones
@include MediaSm {
  .about-div {
    grid-template-areas: "bio-image" "bio" "work01" "work02" "work03";
    grid-template-columns: 1fr;
  }

  //portfolio page
  .project-div {
    grid-template-columns: 1fr;
    width: 90%;
    margin: 0 auto;

    .project {
      padding: 10px;
      margin-bottom: 4px;
      border-bottom: 2px solid $tertiaryColor;
    }
  }

  h1,
  h3 {
    font-weight: 350;
    margin: 0;

    &.lg-heading {
      font-size: 2rem;
    }

    &.sm-heading {
      font-size: 1.1rem;

      padding: 2.2rem, 1.8rem;
      margin-bottom: 6px;
    }
  }
}
