@import "config";
@import "menu";
@import "contact";
@import "about";
@import "portfolio";
@import "footer";

#bg-image {
  background: linear-gradient(
      rgba($primaryColor, $backgroundOpacity),
      rgba($primaryColor, $backgroundOpacity)
    ),
    url(../images/bgimage.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
body {
  box-sizing: border-box;
  background: $primaryColor;
  color: $secondaryColor;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.styled {
  color: $tertiaryColor;
}
a {
  color: $secondaryColor;
  text-decoration: none;
  cursor: pointer;
}

h1,
h3 {
  font-weight: 400;
  margin: 0;

  &.lg-heading {
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 20vh;
  }

  &.sm-heading {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-left: 4px;
    padding: 2.2rem, 1.8rem;
    margin-bottom: 4px;
    color: darken($color: $secondaryColor, $amount: 5);
  }

  span {
    color: $tertiaryColor;
    font-weight: 600;
  }
}

main {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  height: 100vh - 20vh;
  overflow: hidden;
  z-index: 1;

  .icons {
    margin-top: 4px;

    a {
      font-size: 1.4rem;
      margin: 1px;
      padding: 7px;
      cursor: pointer;
      @include easeOut();

      &:hover {
        color: $tertiaryColor;
      }
    }
  }

  &.main-div {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}

@import "mediaQueries";
